<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>disServlet</servlet-name>
<!--		<servlet-class>com.js.v1.DispatchServlet</servlet-class>-->
<!--		<servlet-class>com.js.v2.framework.web.mvc.servlet.DispatchServlet</servlet-class>-->
		<servlet-class>com.js.v3.framework.web.mvc.servlet.DispatchServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
<!--			<param-value>v1/application.properties</param-value>-->
<!--			<param-value>classpath:/v2/application.properties</param-value>-->
			<param-value>classpath:/v3/application.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>disServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


</web-app>
